<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= word %></h5>
    <p class="sub-title">Definition:</p>
    <ul class="content">
      <li class="word--text"><%= definition[0] %> </li>
    </ul>
    <% if (synomyms != '') { %>
      <p class="sub-title">Synonyms:</p>
      <ul class="content">
        <li class="word--text"><%= synomyms %> </li>
      </ul>
    <% } %>
      <button class="more-info">Read more</button>
  </div>
</div>
