
<% const count = Object.keys(obj).length; %> 

<% for(let i = 0; i<count; i++){ 
    const data = obj[i];
    if(data.meaning != "") {
%>

    <div class="col-12 col-lg-4 col-md-6 mb-3">
        <%- include("card", 
                    {word: data.word, 
                     definition: data.meaning.definition,
                     synomyms: data.meaning.synonyms,
                     extra_info: data.meaning.extra_info,
                     mnemonic: data.mnemonic
                    }) %> 
    </div>

    <% } %>

<% } %> 