<!-- Modal -->
<div
  class="modal fade"
  id="detailedInfo"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable modal-fullscreen-sm-down"
  >
    <div class="modal-content">
      <div class="modal-body card">
        <div class="container">
          <div class="row">
            <h5 class="modal-head card-title col-8 col-sm-10 pt-2"></h5>
            <button
              type="button"
              class="closeit col"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
          <div class="row loading justify-content-center">
            <div
              class="spinner-border text-center mt-2 mb-3"
              style="display: none"
              role="status"
            ></div>
          </div>
          <div class="row">
            <div class="col-12 col-xl-8 data-col-1"></div>
            <div class="col data-col-2"></div>
          </div>
          <div class="row">
            <div class="col-12 col-xl-8 data-col-3"></div>
            <div class="col data-col-4"></div>
          </div>
        </div>
      </div>
      <!--footer-->
      <div class="container">
        <div class="row d-flex justify-content-around">
          <div class="col-2 left-arrow d-flex">
            <button type="button" class="closeit" value="back" onclick="navigate(this)">
              <i class="bi bi-arrow-left-square-fill"></i>
            </button>
          </div>
          <div class="col-8 d-flex justify-content-evenly">
            <button
              type="button"
              class="nav-item modalclose"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
          <div class="col-2 right-arrow d-flex justify-content-end">
            <button type="button" class="closeit" value="next" onclick="navigate(this)">
              <i class="bi bi-arrow-right-square-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="../../js/modalNavigation.js"></script>
<script type="text/javascript" src="../../js/modalProvider.js"></script>
