<div
  class="modal fade"
  id="navModal"
  tabindex="-1"
  aria-labelledby="navModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content nav-modal-con" id="navmodal">
      <div class="nav-modal-body container">
        <a class="nav-item text-center <% if(difficulty === "easy") {  %> selected <% } %> " href="/words/easy">Easy</a>
        <a class="nav-item text-center <% if(difficulty === "medium") {  %> selected <% } %> " href="/words/medium">Medium</a>
        <a class="nav-item text-center <% if(difficulty === "advanced") {  %> selected <% } %> " href="/words/advanced">Advanced</a>
        <a class="nav-item text-center <% if(difficulty === "ets-essential") {  %> selected <% } %> " href="/words/ets-essential">ETS Essential</a>
        <a class="nav-item text-center <% if(difficulty === "ets-advanced") {  %> selected <% } %> " href="/words/ets-advanced">ETS Advanced</a>
        <a class="nav-item text-center <% if(difficulty === "gg900") {  %> selected <% } %> " href="/words/gg900">GreGmat 900</a>
        <span class="text-center p-2"><button
        type="button"
        class="nav-modal-close open-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <i class="bi bi-x"></i>
      </button></span>
      </div>
    </div>
  </div>
</div>
