<div
  class="modal fade"
  id="navModal"
  tabindex="-1"
  aria-labelledby="navModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content nav-modal-con" id="navmodal">
      <div class="nav-modal-body container">
        <a class="text-center nav-item" href="/words/easy">Easy</a>
        <a class="text-center nav-item" href="/words/medium">Medium</a>
        <a class="text-center nav-item" href="/words/advanced">Advanced</a>
        <a class="text-center nav-item" href="/words/ets-essential"
          >ETS Essential</a
        >
        <a class="text-center nav-item" href="/words/ets-advanced"
          >ETS Advanced</a
        >
        <a class="text-center nav-item" href="/words/gg900">GreGmat 900</a>
        <span class="text-center p-2"><button
        type="button"
        class="nav-modal-close open-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <i class="bi bi-x"></i>
      </button></span>
      </div>
    </div>
  </div>
</div>
