<form autocomplete="off">
  <input type="text" class="form-control search" name="query" />
  <div id="result">
    <ul>
      <li>abate</li>
      <li>aberrant</li>
      <li>Lol</li>
      <li>Misinterpretation</li>
    </ul>
  </div>
</form>
