
<%- include("partials/header") %> 


<%- include("partials/navbar")  %> 
  
    <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        ><div class="navbar-nav ms-lg-auto">
          <a class="nav-item text-center ms-3 mb-3 mb-lg-2" href="/easy">Easy</a>
          <a class="nav-item text-center ms-3 mb-3 mb-lg-2" href="/medium">Medium</a>
          <a class="nav-item text-center ms-3 mb-3 mb-lg-2" href="/advanced">Advanced</a>
    </div>
  </div>
</nav>

<div class="container"></div>


<%- include("partials/footer") %> 

