
<%- include("partials/header") %> 

<%- include("partials/navbar") %>

<div
class="collapse navbar-collapse item-holder  d-flex justify-content-around"
id="navbarSupportedContent"
>
<a class="nav-item text-center" href="/easy">Easy</a>
<a class="nav-item text-center" href="/medium">Medium</a>
<a class="nav-item text-center" href="/advanced">Advanced</a>
</div>
</div>
</nav>

<div class="container"></div>


<%- include("partials/footer") %> 

