
.card {
    background-color: var(--dark-card-color);
    color: #fff;
    border: 1px solid var(--dark-border);
}

.card-title {
    color: #fff;
    font-weight: 700;
    font-size: 1.67rem;
}

.sub-title {
    font-weight: 100;
    font-size: 1.47rem;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}

.word--text {
    font-weight: 400;
    font-size: 1.1rem;
    color: #fdf0f0;
}

.content {
    background-color: var(--dark-card-content-color);
    padding: 1rem;
    border-radius: 1rem;
}

.more-info {
    border-radius: 0.7rem;
    padding: 0.5rem 0.7rem;
    border: 1px solid transparent;
    background-color: var(--dark-button-text);
    font-weight: 500;
    color: #fdf0f0;
    transition: all 300ms ease-out;
}

.more-info:hover {
    background-color: #5b181d;
}