:root {
    --dark-primary-color: #2b2222;
    --dark-card-color: #201a1a;
    --dark-accent-color: #ffb3b6;
    --dark-text-color: #d6c1c0;
    --dark-card-content-color: #2a2020;
    --nav-color: #3c2323;
    --dark-border: #907d7d;
    --dark-button-text: #7e2a30;
    --dark-shadow: #715656;
    --light-button-text: #f8aeb1;
    --light-primary-color: #faf2f1;
    --dark-card-heading: #efcbd5;
}

* {
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
}

body {
    padding-top: 6rem;
    background-color: var(--dark-primary-color);
}

.navbar-brand {
    font-family: 'Square Peg', cursive;
    font-size: 3em;
}

.nav-item {
    width: 8rem;
    font-size: 1.3em;
    text-decoration: none;
    padding: 0.3em;
    color: white;
    border: 2px solid white;
    border-radius: 0.3rem;
    transition: all 200ms ease-out;
}

.nav-item:hover,
.nav-item:active,
.selected {
    background-color: white;
    color: black;
}


.navbar {
    background-color: var(--nav-color);
    box-shadow: 0 2.3px 5px 3.3px rgb(0 0 0 / 40%);
}

