.theme-maroon {
  --color: #fff;
  --background: #2d2424;
  --card: #201a1a;
  --card-content: #2a2020;
  --modal-bar: #563636;
  --card-content-text: #fdf0f0;
  --nav: #3c2323;
  --card-border: #907d7d;
  --button-info: #7e2a30;
  --button-info-text: #fdf0f0;
  --button-info-hover: #5b181d;
  --button-filter: #f7b0b0;
  --button-filter-text: #5b181d;
  --btn-nav-bg: transparent;
  --btn-nav-txt-br: #fff;
  --btn-nav-selec: #fff;
  --btn-nav-selec-txt: #5b181d;
  --offcanvas: #5b181d;
  --offcanvas-text: #fdf0f0;
  --nav-shadow: 0 2.3px 5px 3.3px rgb(0 0 0 / 40%);
  --card-shadow: none;
}

* {
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
}

body {
  padding-top: 6rem;
  background-color: var(--background);
  color: var(--color);
}


.modal-body::-webkit-scrollbar {
    width: 0.7rem;
}

.modal-body::-webkit-scrollbar-track {
    background-color: transparent;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #676767;
}

.navbar-brand {
  font-family: "Square Peg", cursive;
  font-size: 3em;
}

.nav-item {
  width: 8rem;
  font-size: 1.3em;
  text-decoration: none;
  padding: 0.3em;
  background-color: var(--nav);
  color: var(--btn-nav-txt-br);
  border: 2px solid var(--btn-nav-txt-br);
  border-radius: 0.3rem;
  transition: all 200ms ease-out;
}

.nav-item:hover,
.nav-item:active,
.selected {
  background-color: var(--btn-nav-selec);
  color: var(--btn-nav-selec-txt);
}

.navbar {
  background-color: var(--nav);
  box-shadow: var(--nav-shadow);
}

.offcanvas {
  background-color: var(--offcanvas);
  color: var(--offcanvas-text);
}

.offcanvas-title {
    font-size: 2rem;
}

.closeit {
    background-color: transparent;
    color: var(--offcanvas-text);
    border: none;
    font-size: 2rem;
}

.off-btn {
  background-color: var(--offcanvas);
  color: var(--offcanvas-text);
  border: 2px solid var(--offcanvas-text);
  border-radius: 0.8rem;
  margin: 0.5rem;
  padding: 0.6rem;
  transition: all 200ms ease-out;
}

.off-sel,
.off-btn:focus,
.off-btn:hover {
  background-color: var(--offcanvas-text);
  color: var(--offcanvas);
}