* {
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
}

.navbar-brand {
    font-family: 'Square Peg', cursive;
    font-size: 3em;
}

.nav-item {
    width: 8rem;
    font-size: 1.3em;
    text-decoration: none;
    padding: 0.3em;
    color: white;
}

.nav-item:hover,
.nav-item:active,
.selected {
    background-color: white;
    color: black;
    border-radius: 0.3rem;
}

.item-holder {
    max-width: 400px;
}

.navbar {
    box-shadow: 0 2.3px 5px 3.3px rgb(0 0 0 / 40%)
}